{% extends "bootstrap/base.html" %}

{% block title %}Обьявление{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endif %}

    <div class="form-group row">
        <div class="col-xs-1">
        </div>

        <div class="col-xs-5">
            <form method="POST" enctype="multipart/form-data" class="form-horizontal">
                <!--<div class="panel panel-primary">-->
                    <!--<div class="panel-heading">Пользователь</div>-->
                    <!--<div class="panel-body">-->
                        <!--<label for="username">Пользователь:</label>-->
                        <!--<input class="form-control" name="username" id="username" type="text" value=-->
                        <!--"{% if target_advert %}{{ target_advert.username }}{% endif %}">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="panel panel-primary">-->
                    <!--<div class="panel-heading">Имя</div>-->
                    <!--<div class="panel-body">-->
                        <!--<label for="name">Имя:</label>-->
                        <!--<input class="form-control" name="name" id="name" type="text" value=-->
                        <!--"{% if target_advert %}{{ target_advert.first_name }}{% endif %}">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="panel panel-primary">-->
                    <!--<div class="panel-heading">Фамилия</div>-->
                    <!--<div class="panel-body">-->
                        <!--<label for="last_name">Фамилия:</label>-->
                        <!--<input class="form-control" name="last_name" id="last_name" type="text" value=-->
                        <!--"{% if target_advert %}{{ target_advert.last_name }}{% endif %}">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="panel panel-primary">
                    <div class="panel-heading">Название обьявления</div>
                    <div class="panel-body">
                        <label for="advert_name">Название объявления:</label>
                        <input class="form-control" name="advert_name" id="advert_name" type="text" value=
                        "{% if target_advert %}{{ target_advert.advert_name }}{% endif %}">
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Описание</div>
                    <div class="panel-body">
                        <label for="advert_name">Описание:</label>
                        <input class="form-control" name="description" id="description" type="text" value=
                        "{% if target_advert %}{{ target_advert.description }}{% endif %}">
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Место положение</div>
                    <div class="panel-body">
                        <label for="location">Место положение:</label>
                        <input class="form-control" name="location" id="location" type="text" value=
                        "{% if target_advert %}{{ target_advert.location }}{% endif %}">
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Кем является</div>
                    <div class="panel-body">
                        <label for="i_am">Кем является:</label>
                        <input class="form-control" name="i_am" id="i_am" type="text" value=
                        "{% if target_advert %}{{ target_advert.i_am }}{% endif %}">
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Необходимые ресурсы</div>
                    <div class="panel-body">
                        <label for="resources">Необходимые ресурсы:</label>
                        <input class="form-control" name="resources" id="resources" type="text" value=
                        "{% if target_advert %}{{ target_advert.resources }}{% endif %}">
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Ресурсы в наличии</div>
                    <div class="panel-body">
                        <label for="real_resources">Ресурсы в наличии:</label>
                        <input class="form-control" name="real_resources" id="real_resources" type="text" value=
                        "{% if target_advert %}{{ target_advert.real_resources }}{% endif %}">
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Категория 1</div>
                    <div class="panel-body">
                        <label>Категория 1:</label>
                        <select name="category" required>
                            <option value="{% if target_advert %}{{ target_advert.category.text }}{% endif %}" hidden>{% if target_advert %}{{ target_advert.category.text }}{% endif %}</option>
                            <option value="">Пусто</option>
                            {% for i in categories %}
                            <option>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Категория 2</div>
                    <div class="panel-body">
                        <label>Категория 2:</label>
                        <select name="category2" required>
                            <option value="{% if target_advert %}{{ target_advert.category2.text }}{% endif %}" hidden>{% if target_advert %}{{ target_advert.category2.text }}{% endif %}</option>
                            <option value="">Пусто</option>
                            {% for i in categories %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Категория 3</div>
                    <div class="panel-body">
                        <label>Категория 3:</label>
                        <select name="category3" required>
                            <option value="{% if target_advert %}{{ target_advert.category3.text }}{% endif %}" hidden>{% if target_advert %}{{ target_advert.category3.text }}{% endif %}</option>
                            <option value="">Пусто</option>
                            {% for i in categories %}
                            <option>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Контакт</div>
                    <div class="panel-body">
                        <label for="contacts">Контакт:</label>
                        <input class="form-control" name="contacts" id="contacts" type="text" value=
                        "{% if target_advert %}{{ target_advert.contacts }}{% endif %}">
                    </div>
                </div>

                <!--<button type="submit" class="btn btn-danger btn-lg pull-right">Сохранить</button>-->
            </form>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style_bootstrap.css') }}">
{% endblock %}
