{% extends "bootstrap/base.html" %}

{% block title %}Настройки{% endblock %}

{#{% block navbar %}#}
{#    {% include 'navbar.html' %}#}
{#{% endblock %}#}

{% block content %}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <h1>404</h1>
                <h3 class="text-uppercase">Page Not Found !</h3>
                <p class="text-muted m-t-30 m-b-30">INCORRECT WAY</p>
                
            </div>
        </div>
    </section>

{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style_bootstrap.css') }}">
{% endblock %}
