{% extends "bootstrap/base.html" %}

{% block head %}
    <style>
    .tree > ul > li {
    display: inline-block;
    float: none;
    {% if children_count<4   %}
    width: auto ;}
    .tree{
    margin-left: 200px;
    }
    {% endif %}
    {% if 4<=children_count<8   %}
    width: auto;}
    .tree{
    margin-left: 200px;
    }
    {% endif %}
    {% if 8<=children_count<16   %}
    width: auto;}
    {#.tree{#}
    {#margin-left: 200px;#}
    {#}#}
    {% endif %}
    {% if 16<=children_count<32   %}
    width:3000px;}
        {% else %}
    width: 6000px
    {% endif %}
</style>
    <link rel="stylesheet" href="{{ url_for('.static', filename='Graph_tree/CSS/jquery-ui.min.css') }}">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous">
        </script>
        <script src="{{ url_for('.static', filename='Graph_tree/js/jquery-ui-1.10.4.custom.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/jHTree.css') }}">
        <script src="{{ url_for('.static', filename='Graph_tree/js/jQuery.jHTree.js') }}"></script>

    {% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style_bootstrap.css') }}">
{% endblock %}

    {% endblock %}



{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endif %}

<div id="tree">

</div>



{% endblock %}



{% block scripts %}
    <script>
        var myData = {{ data | tojson }};

        $("#tree").jHTree({
            callType: 'obj',
            structureObj: myData

        });
    </script>
{% endblock %}

