{% extends "bootstrap/base.html" %}

{% block title %}Новый админ{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endif %}

    <div class="form-group row">
        <div class="col-xs-1">
        </div>

        <div class="col-xs-5">
            <form method="POST" enctype="multipart/form-data" class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">Login</div>
                    <div class="panel-body">
                        <label for="login">Login:</label>
                        <input class="form-control" name="login" id="login" type="text" value=
                        "{% if web_admin %}{{ web_admin.login }}{% endif %}">
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Password</div>
                    <div class="panel-body">
                        <label for="password">Password:</label>
                        <input class="form-control" name="password" id="password" type="text" value=
                        "{% if web_admin %}{{ web_admin.password_word }}{% endif %}">
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Rank</div>
                    <div class="panel-body">
                        <label for="rank">Rank:</label>
                        <p><select size="1" name="rank" id="rank">
                        <option disabled>Choose rank</option>
                        {% if web_admin %}
                        <option value="0" {% if web_admin.rank == 0 %}selected{% endif %}>Super administrator: полный доступ</option>
                        <option value="1" {% if web_admin.rank == 1 %}selected{% endif %}>Technician: языки, тексты</option>
                        <option value="2" {% if web_admin.rank == 2 %}selected{% endif %}>Administrator: Пользователи, Модерация, Обьявления, Категории, Обратная связь, FAQ</option>
                        <option value="3" {% if web_admin.rank == 3 %}selected{% endif %}>Work support: Обратная связь, FAQ, Комментарии</option>
                        <option value="4" {% if web_admin.rank == 4 %}selected{% endif %}>Work sale: Обьявления, Модерация полей</option>
                            {% else %}
                            <option value="0"selected>Super administrator: полный доступ</option>
                            <option value="1">Technician: языки, тексты</option>
                            <option value="2">Administrator: Пользователи, Модерация, Обьявления, Категории, Обратная связь, FAQ</option>
                            <option value="3">Work support: Обратная связь, FAQ, Комментарии</option>
                            <option value="4">Work sale: Обьявления, Модерация полей</option>
                        {% endif %}
                       </select></p>
                    </div>
                </div>

                <button type="submit" class="btn btn-danger btn-lg pull-right">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style_bootstrap.css') }}">
{% endblock %}
